/* 通用样式 */
html, body {
    height: 100%;
    color: #333333;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0.5rem 0;
}

.line-1px-bottom {
    position: relative;
    border-top: none;
}

.line-1px-bottom:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}

.line-1px-top {
    position: relative;
    border-bottom: none;
}

.line-1px-top:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

/* 2倍屏 */
@media only screen and (-webkit-min-device-pixel-ratio: 2.0) {
    .line-1px-bottom:after, .line-1px-top:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

/* 3倍屏 */
@media only screen and (-webkit-min-device-pixel-ratio: 3.0) {
    .line-1px-bottom:after, .line-1px-top:after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}

.text-header {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.gray {
    color: #666666;
}

.icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: middle;
}

.icon-seat-select {
    background-image: url('../image/icon-seat-select.png');
}

.icon-seat-no {
    background-image: url('../image/icon-seat-no.png');
}

.icon-seat {
    background-image: url('../image/icon-seat.png');
}

.icon-close {
    background-image: url('../image/icon-close.png');
}

.btn-primary {
    width: 100%;
    line-height: 5rem;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background-color: #fe5a75;
    border: none;
    padding: 0;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/* 具体样式 */

.movie-info {
    box-sizing: border-box;
    padding: 1.5rem 1rem;
}

.legend {
    position: relative;
    font-size: 1.2rem;
    line-height: 3rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-align: center;
}

.legend-item {
    display: inline-block;
    margin-right: 1rem;
}

.legend span {
    line-height: 1.4rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}

.movie-select {
    position: absolute;
    top: 14.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fafafa;
    overflow: auto;
}

.movie-buy {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 10rem;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.movie-buy.hide {
    height: 0;
}

.price {
    color: #ff759c;
    margin-top: 0.2rem;
}

.ticket-list {
    height: 5rem;
    line-height: 5rem;
    box-sizing: border-box;
    padding: 0 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.ticket-item {
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    border-radius: 0.4rem;
    box-sizing: border-box;
    position: relative;
    line-height: 3rem;
    padding: 0 0.5rem;
    font-size: 0;
    margin-right: 1rem;
}

.ticket-item p {
    line-height: 1.2rem;
    padding: 0;
}

/* 主要样式 */
.view-box-wrapper {
    box-sizing: border-box;
    padding-top: 1.4rem;
    padding-left: 1.4rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.view-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.seat-wrapper {
    /*min-height: 2000px;*/
    /*min-width: 2000px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /*-webkit-transition: all 1s;*/
    /*-moz-transition: all 1s;*/
    /*-ms-transition: all 1s;*/
    /*-o-transition: all 1s;*/
    /*transition: all 1s;*/
    /*transform: scale(2);*/
    transform-origin: 0 0;
}

.seat-wrapper.scale-2x {
    transform: scale(2);
}

.seat-col {
    width: 2.4rem;
    display: inline-block;
    font-size: 0;
    line-height: 1.4rem;
    box-sizing: border-box;
    padding: 0.5rem;
    vertical-align: middle;
}

.seat-row {
    margin: 0 auto;
    text-align: center;
    min-width: 100%;
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    white-space: nowrap;
    box-sizing: border-box;
}

.row-idx-list {
    font-size: 0;
    position: absolute;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.col-idx-list > div {
    transform-origin: 0 0;
}

.row-idx-list > div {
    transform-origin: 0 0;
}

.row-idx-item {
    font-size: 1.2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
}

.col-idx-list {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 1.4rem;
    right: 0;
    white-space: nowrap;
    line-height: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
}

.col-idx-item {
    font-size: 1.2rem;
    display: inline-block;
    width: 2.4rem;
    text-align: center;
}

.eagle-eye-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    opacity: 0;
}

.eagle-eye {
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    transform-origin: 0 0;
    font-size: 0;
    line-height: 0;
}

.eagle-view {
    border: 4px solid crimson;
    transform-origin: 0 0;
    display: block;
    box-sizing: border-box;
}